body {
  /* background-color: #FFCC00; */
  background-image: url("images/backf.jpg");

  padding: 20px;
  margin: 0;
}


h1, h2, p, ul, li {
  /* font-family: sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  /* background-color: #111; */
  background-image: url("images/bimg.jfif");
  padding: 0;
}
ul.header li a {
  color: darkgoldenrod;
  font-weight: bold;
  text-decoration: underline;
  padding: 20px;
  display: inline-block;
}
.content {
  /* background-color: chocolate; */
  background-image: url("images/backf2.jfif");
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}



.active {
  background-color:white;
}

.back{
    /* background-image: url("images/back3.jpg"); */
}